<footer class="footer fixed-bottom bg-dark text-light">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col">
          &copy; 2023 Grocery App
        <span class="col text-right m-2">
          <a href="#"><i class="fa fa-instagram" style="color: white; font-size: 24px;"></i></a>
          &nbsp;
          <a href="#"><i class="fa fa-twitter"  style="color: white; font-size: 24px;"></i></a>
          &nbsp;
          <a href="#"><i class="fa fa-telegram"  style="color: white; font-size: 24px;"></i></a>
      </span>
    </div>
      </div>
    </div>
  </footer>
  