<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img src="assets\Images\groc.png" height="30" width="30" alt="MDB Logo" loading="lazy" />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
        <li class="nav-item" [ngClass]="{'active':isActive('')}">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin()" [ngClass]="{'active':isActive('about')}">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin()" [ngClass]="{'active':isActive('contact')}">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/editproducts">Products</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/editcategory">Categories</a>
        </li>
      </ul>
    </div>

    <!-- Right elements -->



    <div class="d-flex align-items-center">
      <a class="link-secondary me-3" data-bs-toggle="modal" data-bs-target="#cart" (click)="getOrderList()"
        *ngIf="checkUserActive() && !isAdmin()">
        <i class="fa fa-shopping-cart"></i>
        <span class="badge rounded-pill badge-notification bg-danger"
          *ngIf="checkItemsInCart()>0 ">{{checkItemsInCart()}}</span>
      </a>

      <button type="button" *ngIf="checkUserActive()" class="btn btn-dark launch me-2" style="border-radius: 50%;"
        data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i class="fa fa-user"></i></button>{{getUserName()}}
      <button type="button" class="btn btn-outline-secondary" *ngIf="!checkUserActive()"
        routerLink="register">Register</button>
      &nbsp;
      &nbsp;
      <button type="button" class="btn btn-outline-primary" *ngIf="!checkUserActive()" routerLink="login">Login</button>
    </div>
  </div>
</nav>

<div *ngIf="isAdmin()" class="d-flex justify-content-center align-items-center text-center bg-dark text-warning">
  <h4>ADMINISTRATOR ACCESS</h4>
</div>



<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body bg-light">
        <div class="text-right">
          <i class="fa fa-close close text-dark" style="float: right;" data-bs-dismiss="modal"></i>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="text-center mt-2">
              <img src="https://www.dpforwhatsapp.in/img/no-dp-images/7.webp" width="200">
            </div>
          </div>


          <div class="col-md-6">
            <div class="text-dark mt-5">
              <h1 class="mb-0">{{getUserName()}}</h1>
              <div class="mt-4">
                <span class="intro-1">{{getEmailId()}}</span>
              </div>
              <div class="mt-4">
                <span class="intro-1">{{getPhone()}}</span>
              </div>
              <div class="mt-4 mb-5">
                <button type="button" class="btn btn-danger btn-outline-danger text-white close" data-bs-dismiss="modal"
                  (click)="logout()">Logout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="cart" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body ">
        <div class="text-right"> <i class="fa fa-close close text-dark" style="float: right;"
            data-bs-dismiss="modal"></i> </div>
        <div class="px-2 py-1">
          <span class="theme-color">Order Summary</span>
          <div class="mb-3">
            <hr class="new1">
          </div>
          <div *ngIf="getOrderList() && getOrderList().length > 0">
            <div class="container-fluid" style="height: 300px;overflow-y: auto; background-color: aqua;">
              <ul class="p-0" *ngFor="let item of getOrderList()">
                <div class="card m-1">
                  <div class="row align-items-center">
                    <div class="col-md-3">
                      <img src="assets/Images/products/{{item.productName}}.jpg"
                        onerror="this.src='assets/Images/item.jpg';" alt="Product Image" loading="lazy" height="100px"
                        width="100px">
                    </div>
                    <div class="col-md-6 mt-2">

                      <h5 class="m-0 p-0">{{item.productName}}</h5>
                      Qty:{{item.quantity}}
                      <br>
                      Price: <i class="fa fa-light fa-indian-rupee-sign"></i>{{item.pricePerProduct}}

                    </div>
                    <div class="col-md-3 jalign-self-center">
                      <button class="btn" (click)="removeItem(item.productId)"><i class="fa fa-trash fa-solid fa-2xl"
                          style="color: #ff0000;"></i></button>
                    </div>
                  </div>
                </div>

              </ul>

            </div>
            <div class="d-flex justify-content-between">
              <small>Delivery charges</small>
              <small><i class="fa fa-light fa-indian-rupee-sign"></i>45</small>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <span class="font-weight-bold">Total</span>
              <span class="font-weight-bold theme-color"><i
                  class="fa fa-light fa-indian-rupee-sign"></i>{{calculateTotal()}}</span>

            </div>
            <div class="text-center mt-5">
              <button class="btn btn-primary" (click)="PlaceOrder()">Place your order</button>
            </div>
          </div>

          <div *ngIf="!getOrderList() || getOrderList().length === 0">
            <h3 class="text-center">Your Cart is Empty</h3>

          </div>
        </div>
      </div>
    </div>
  </div>



  <button hidden type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#order-placed">Open Modal</button>

  <!-- Modal -->
  <div #orderPlaced id="order-placed" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <a class="close" href="#" data-bs-dismiss="modal">&times;</a>
        <div class="page-body">
          <div class="head">
            <h3 style="margin-top:5px;">Order Placed</h3>
            <h4>Continue Shopping</h4>
          </div>

          <h1 style="text-align:center;">
            <div class="checkmark-circle">
              <div class="background"></div>
              <div class="checkmark draw"></div>
            </div>
          </h1>

        </div>
      </div>
    </div>

  </div>

  