body{

    background-color:#ff52529c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.modal-body {
    background-color: #fff;
    border-color: #fff;

}




.intro-1{

    font-size: 16px;
}

.close{

    color: #fff;
    cursor: pointer;
}


.close:hover{

    color: #fff;
}


.intro-2{

    font-size: 13px;
}

.theme-color{

    color: #004cb9;
}
hr.new1 {
    border-top: 2px dashed #fff;
    margin: 0.4rem 0;
}


.btn-primary {
    color: #fff;
    background-color: #004cb9;
    border-color: #004cb9;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 1px;
    font-size: 17px;
}


.btn-primary:hover {
    color: #fff;
    background-color: #004cb9;
    border-color: #004cb9;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 1px;
    font-size: 17px;
}

#logout-modal .modal-confirm {		
	color: #434e65;
	width: 525px;
}
#logout-modal .modal-confirm .modal-content {
	padding: 20px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
}
#logout-modal .modal-confirm .modal-header {
	background: #47c9a2;
	border-bottom: none;   
	position: relative;
	text-align: center;
	margin: -20px -20px 0;
	border-radius: 5px 5px 0 0;
	padding: 35px;
}
#logout-modal .modal-confirm h4 {
	text-align: center;
	font-size: 36px;
	margin: 10px 0;
}
#logout-modal .modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
#logout-modal .modal-confirm .close {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	text-shadow: none;
	opacity: 0.5;
}
#logout-modal .modal-confirm .close:hover {
	opacity: 0.8;
}
#logout-modal .modal-confirm .icon-box {
	color: #fff;		
	width: 95px;
	height: 95px;
	display: inline-block;
	border-radius: 50%;
	z-index: 9;
	border: 5px solid #fff;
	padding: 15px;
	text-align: center;
}
#logout-modal .modal-confirm .icon-box i {
	font-size: 64px;
	margin: -4px 0 0 -4px;
}
#logout-modal .modal-confirm.modal-dialog {
	margin-top: 80px;
}
#logout-modal .modal-confirm .btn, #logout-modal .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #eeb711 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border-radius: 30px;
	margin-top: 10px;
	padding: 6px 20px;
	border: none;
}
#logout-modal .modal-confirm .btn:hover, #logout-modal .modal-confirm .btn:focus {
	background: #eda645 !important;
	outline: none;
}
#logout-modal .modal-confirm .btn span {
	margin: 1px 3px 0;
	float: left;
}
#logout-modal .modal-confirm .btn i {
	margin-left: 1px;
	font-size: 20px;
	float: right;
}
#logout-modal .trigger-btn {
	display: inline-block;
	margin: 100px auto;
}