
<div *ngIf="serv.productList && serv.productList.length > 0">
    <h2>Products</h2>
    <ul>
      <div (click)="onProductClick(product.Id)" class="product-card"  *ngFor="let product of serv.productList">
        <h3>{{ product.ProductName }}</h3>
        <p>Category: {{ product.CategoryId }}</p>
        <p>Price: {{ product.UnitPrice }}</p>
      </div>
    </ul>
  </div>
  <div *ngIf="!serv.productList || serv.productList.length === 0">
    <p>No products available.</p>
  </div>
  
    
   
<!-- <div class="product-grid">
<div class="product-card" >
    <h3>Mobile Phone</h3>
    <h2>Redmi Note 9</h2>
    <h3>20000</h3>
    
</div>
</div> -->




