<div class="container rounded-4 p-5" style="width: 530px;">
  <form id="registrationForm" class="form-control rounded-4" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
      <header class="text-center m-5">
        <i class="fa fa-user large-icon"></i>
        <br>Login to your account
      </header>
      <div class="input-group has-validation m-2">
          <span class="input-group-text rounded-start text-center" style="width: 18%;"><i class="fa fa-light fa-envelope mx-auto"></i></span>
          <div class="form-floating is-invalid me-3">
            <input type="text" class="form-control" id="emailId" formControlName="emailId" placeholder="Email">
            <label for="emailId">Email</label>
          </div>
          <div *ngIf="loginForm.get('emailId')?.invalid && loginForm.get('emailId')?.touched" class="invalid-feedback text-danger ps-1">
            Please enter a valid emailId.
          </div>
      </div>
      <div class="input-group has-validation m-2">
          <span class="input-group-text text-center" style="width: 18%;"> <i class="fa fa-light fa-key fa-rotate-180 mx-auto"></i> </span>
          <div class="form-floating is-invalid me-3">
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
            <label for="password">Password</label>
          </div>
      </div>

    <!-- Submit button -->
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary btn-block mb-3" style="width: 40%; height: 45px;" [disabled]="loginForm.invalid" >Sign In</button>
    </div>

    <footer>
      <!-- Register buttons -->
      <div class="text-center">
        <p> Forgot 
          <a class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"  href="login">password</a>?
         <br>
        Don't have an <a class="link-danger link-offset-2 link-underline-opacity-10 link-underline-opacity-100-hover"  href="register">account</a>?</p>
      </div>
    </footer>

    </form>
</div>