<div class="container m-3" *ngIf="serv.productList && serv.productList.length > 0">
  <!-- <div class="container mx-auto"> -->
    
      <div class="card">
        <div class="row">
        <div class="col-md-6">
          <img src="assets/Images/item.jpg" alt="Category Image">
          <br>
          
        </div>
        <div class="col-md-6 p-4">
          <div class="card p-3 text-left" style="height: 100%;width: auto;">
            <header class="card-header">
            <h2>{{serv.pro.ProductName}}</h2>
          </header>
          <div class="card-body text-start">
            <div style="height: calc((50%-10px));">Description: 
              {{ serv.pro.Description }}</div>
            <h5>Price: {{ serv.pro.UnitPrice }}</h5>
            <p>Quantity in Stock: {{ serv.pro.UnitsInStock }}</p>
          <span>
            <Label class="m-2">Quantity</Label>
            <input type="number" value="1">
          </span>
          <hr>
          Offers:
            <ol>
              <li>
                offer 1
              </li>
              <li>
                50% off on 1st purchase
              </li>
              <li>
                offer 1
              </li>
              <li>
                offer 1
              </li>
              
            </ol>
          </div>
          <div class="card-footer mb-0">
            <span>
              <button class="btn btn-primary me-2">Add To Cart</button>
              <button class="btn btn-primary ms-2">Buy Now</button>
            </span>
          </div>
          
          </div>
          
        </div>
      </div>
      
        
      </div>
  
  </div>
  <div *ngIf="!serv.productList || serv.productList.length === 0">
    <p>No products available.</p>
  </div>
  
