<app-header></app-header>


<div *ngIf="serv.productList && serv.productList.length > 0">
    <h2>Product Details</h2>
    <ul>
      <div  class="product-card">
        <h3>{{serv.pro.Id}}</h3>
        <p>Category: {{ serv.pro.ProductName}}</p>
        <p>Price: {{ serv.pro.UnitPrice }}</p>
        <p>Description: {{ serv.pro.Description }}</p>
        <p>UnitsInStock: {{ serv.pro.UnitsInStock }}</p>
        <Label>Quantity</Label>
        <input type="number">
        <br>
        <button class="btn btn-primary">Add To Cart</button>
        <button class="btn btn-primary">Buy Now</button>
        
        
      </div>
    </ul>
  </div>
  <div *ngIf="!serv.productList || serv.productList.length === 0">
    <p>No products available.</p>
  </div>
  
