input{
    width: 30px;
    max-width: 60px;
    text-align: center;
    border: 1px solid aqua;
    background-color: lightgray;
    
}

button{
    width: 150px;
}

button:hover{
    background-color: aqua;
    
}

img{
    width: 400px;
    height: 400px;
}
.counter-btn{
    width: 40px !important;
    text-align: center;
}
.minmax-width{
    min-width: 450px;
    max-width: 450px;
}
.card{
   
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    width: 70%;  /* Adjust width based on your desired layout */
    margin-bottom: 20px; 
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

