<section class="h-custom gradient-custom-2">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12" style="max-height: 580px;">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;" >
                    <div class="card-body p-0">
                        <div class="row g-0">

                            <div class="col-lg-8 display-flex ps-2 pt-2" style="height: 550px;overflow-y: auto;">
                                <table class="table table-hover table-responsive table-dark table-borderless">
                                    <thead class="sticky-top">
                                        <tr>
                                            <th>Product Id</th>
                                            <th>Product Name</th>
                                            <th>Unit Price</th>
                                            <th>Units In Stock</th>
                                            <th>Discontinued</th>
                                            <th>Category</th>
                                            <th class="text-warning">Edit</th>
                                            <th class="text-danger">Delete</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let p of serv.allProducts">
                                            <td >{{p.Id}}</td>
                                            <td >{{p.ProductName}}</td>
                                            <td >{{p.UnitPrice}}</td>
                                            <td >{{p.UnitsInStock}}</td>
                                            <td >{{p.Discontinued}}</td>
                                            <td >{{p.CategoryId}}</td>
                                            
                                           
                                         
                                            <td><i class="fas fa-edit bg-warning text-black" (click)="fillForm(p)"></i></td>

                                            <td><i class="fa fa-trash bg-danger text-black"
                                                (click)="delProduct(p.Id)"></i></td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>



                            <div class="col-lg-4 bg-indigo text-white">
                                <div class="ps-5 pe-5 pt-3">
                                    <h3 class="fw-normal mb-4">Product Details</h3>
                                    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                                        <input type="hidden" name="Id" name="Id"
                                        [(ngModel)]="serv.singleData.Id" #Id="ngModel" [value]="serv.singleData.Id">
                                        <div class="mb-2 pb-1">
                                            <div class="form-outline form-white">
                                                <input type="text" id="ProductName" name="ProductName"
                                                    [(ngModel)]="serv.singleData.ProductName" #ProductName="ngModel"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="productName">Product Name</label>
                                            </div>
                                        </div>

                                        <div class="mb-2 pb-1">
                                            <div class="form-outline form-white">
                                                <input type="text" id="Description" name="Description" #Description="ngModel"
                                                    [(ngModel)]="serv.singleData.Description"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="Description">Description</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5 mb-2 pb-1">

                                                <div class="form-outline form-white">
                                                    <input type="number" id="UnitPrice" name="UnitPrice" #UnitPrice="ngModel"
                                                        [(ngModel)]="serv.singleData.UnitPrice"
                                                        class="form-control form-control-lg" />
                                                    <label class="form-label" for="UnitPrice">Unit Price</label>
                                                </div>

                                            </div>
                                            <div class="col-md-7 mb-2 pb-1">

                                                <div class="form-outline form-white">
                                                    <input type="number" id="UnitsInStock" name="UnitsInStock" #UnitsInStock="ngModel"
                                                        [(ngModel)]="serv.singleData.UnitsInStock"
                                                        class="form-control form-control-lg" />
                                                    <label class="form-label" for="UnitsInStock">Units In Stock</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="mb-2 pb-1">
                                            <div class="form-outline form-white">
                                                <input type="text" id="CategoryId" name="CategoryId" #CategoryId="ngModel"
                                                    [(ngModel)]="serv.singleData.CategoryId"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="CategoryId">CategoryId</label>
                                            </div>
                                        </div>

                                        <div class="mb-2 pb-1">
                                            <div class="form-outline form-white">
                                                <input name="Discontinued" type="checkbox" id="Discontinued" #Discontinued="ngModel"
                                                [(ngModel)]="serv.singleData.Discontinued" style="width: 30px;height: 16px;"
                                                 value=true />
                                                 <label class="form-label" for="Discontinued">Discontinued</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-danger me-2"
                                            data-mdb-ripple-color="dark">Add/Update</button>
                                            <button type="reset" class="btn btn-primary"
                                            data-mdb-ripple-color="dark">Reset</button>   
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>