

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Choose your Category</h2>
        
       
<div *ngIf="serv.categoryList && serv.categoryList.length > 0">
  <h2>Categories</h2>
  <ul>
    <div class="product-card" *ngFor="let category of serv.categoryList">
      
     <h3 (click)=onProductClick(category.Id) >{{ category.CategoryName }}</h3> 
    </div>
  </ul>
</div>
<div *ngIf="!serv.categoryList || serv.categoryList.length === 0">
  <p>No categories available.</p>
</div>

        
        <hr class="hidden-sm hidden-md hidden-lg">
      </div>
      <div class="col-sm-6"><app-subcategory></app-subcategory></div>
      



      