<!-- <app-header></app-header>

<div class="row">
  <div class="col-md-3" style="background-color: white; height:auto;">
    <br>
    <h2 style="text-align: center; color:black;">Categories</h2>
    <br>
    <div *ngIf="serv.categoryList && serv.categoryList.length > 0">
      <ul>
        <div class="product-card" (click)=onProductClick(category.Id) *ngFor="let category of serv.categoryList">

          <h3 style="text-align: left;font-family:sans-serif ;">{{ category.CategoryName }}</h3>
        </div>
      </ul>
    </div>
    <div *ngIf="!serv.categoryList || serv.categoryList.length === 0">
      <p>No categories available.</p>
    </div>
  </div>
  <div class="col-sm-9">
    <app-subcategory></app-subcategory>
  </div>
</div> -->



<body>
  <div class="row">
<div class="col-md-2">
  <div class="sidebar" >
    <br>
    <h4 style="text-align: center;">Category</h4>
    <div  *ngFor="let category of serv.categoryList">
    <a [class.selected]="isCategorySelected(category.Id)" (click)=onProductClick(category.Id)>{{category.CategoryName}}</a>
  </div>
</div>
</div>
  <div class="col-md-9">
    <app-subcategory></app-subcategory>
  </div>
</div>
  </body>
  