<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Products Page</h2>
        <h5>Choose your Category</h5>
        
        <div class="product-grid">
            <div class="product-card" >
                <h3>Category1</h3>
                
                
            </div>
        </div>
        <hr class="hidden-sm hidden-md hidden-lg">
      </div>
      <div class="col-sm-8">
        <div class="product-grid">
            <div class="product-card" >
                <h3>productID</h3>
                <h2>productName</h2>
                <h3>Price</h3>
                
            </div>
        </div>
      </div>
    </div>
  </div>