.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 20px;
}
.product-card{
    background-color: rgb(192, 227, 227);
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}