<section class="h-custom gradient-custom-2">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12" style="max-height: 580px;">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">

                            <div class="col-lg-8 display-flex ps-2 pt-2" style="height: 550px;overflow-y: auto;">
                                <table class="table table-hover table-responsive table-dark table-borderless">
                                    <thead class="sticky-top">
                                        <tr>
                                            <th>Category Id</th>
                                            <th>Category Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let p of serv.allCategory">
                                            <td (click)="fillForm(p)">{{p.Id}}</td>
                                            <td (click)="fillForm(p)">{{p.CategoryName}}</td>

                                            <td><i class="fa fa-trash bg-danger text-white"
                                                    (click)="delcategory(p.Id)"></i></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        
                        <div class="col-md-6">
                            <app-category-add></app-category-add>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>