<table class="table table-hover">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>CategoryName</th>
            
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of serv.categoryList">
        <td (click)=" fillForm(category)">{{category.Id}}</td>
        <td (click)=" fillForm(category)">{{category.CategoryName}}</td>
        <td><i class="fa fa-trash"(click)="delcategory(category.Id)"></i></td>
        
    </tr>
    </tbody>
</table>