<div class="col-lg-8 bg-primary text-white">
    <div class="p-5">
        <h3 class="fw-normal mb-5">Category Details</h3>
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <input type="hidden" name="Id" name="Id"
            [(ngModel)]="serv.Cdata.Id" #Id="ngModel" [value]="serv.Cdata.Id">
            <div class="mb-4 pb-2">
                <div class="form-outline form-white">
                    <input type="text" id="CategoryName" name="CategoryName"
                        [(ngModel)]="serv.Cdata.CategoryName" #CategoryName="ngModel"
                        class="form-control form-control-lg" />
                    <label class="form-label" for="CategoryName">Category Name</label>
                </div>
            </div>
        </div>
        </form>
</div>