<div class="container rounded-4 p-5" style="width: 530px;">
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <header class="text-center m-5">
          
          <br>Category
        </header>
        <div class="input-group has-validation m-2">
            <span class="input-group-text rounded-start text-center" style="width: 18%;"><i class="fa fa-light fa-envelope mx-auto"></i></span>
            <div class="form-floating is-invalid me-3">
                <input name="Id" #Id="ngModel" [(ngModel)]="serv.Categories.Id"
                placeholder="Category Id" class="form-control" required>

            </div>
            
        </div>
        <div class="input-group has-validation m-2">
            <span class="input-group-text text-center" style="width: 18%;"> <i class="fa fa-light fa-key fa-rotate-180 mx-auto"></i> </span>
            <div class="form-floating is-invalid me-3">
                <input name="CategoryName" #CategoryName="ngModel" [(ngModel)]="serv.category.CategoryName"
                placeholder="Category Name" class="form-control" required>

            </div>
        </div>
        </form>
</div>