<div class="container" style="padding-top:40px;">  
    <div class="row">  
      <div class="col-md-6 mx-auto">  
        <div class="card mx-4">  
          <div class="card-body p-4">  
            <form [formGroup]="UserForm" (ngSubmit)="onFormSubmit()">  
              <h1 style="text-align:center">Register</h1>  
            
              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="FirstName"  formControlName="FirstName">  
              </div>  
              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="LastName"  formControlName="LastName">  
              </div>  
              <div class="input-group mb-4">  
                <input type="text" class="form-control" placeholder="Gender"  formControlName="Gender">  
              </div>  
              <div class="input-group mb-3">  
                <input type="date" class="form-control" placeholder="Date of Birth"  formControlName="DateofBirth">  
              </div>  
              <div class="input-group mb-4">  
                <input type="text" class="form-control" placeholder="Email Id"  formControlName="EmailId">  
              </div>  
              <div class="input-group mb-4">  
                <input type="text" class="form-control" placeholder="Mobile No"  formControlName="MobileNo">  
              </div>  
              <div class="input-group mb-3">  
                <input type="password" class="form-control" placeholder="Password"  formControlName="Password">  
              </div>  
              <button type="submit" class="btn btn-block btn-success">Add User</button>  
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div> 